.search-select {
    position: relative;
    display: inline-flex; 

    .search-input{
        padding: 8px 34px 8px 12px;
        border-radius: 8px;
        font-size: 17px;
    }

    .icon-container{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            height: 80%;
            width: 80%;
            object-fit: cover;
            fill: #000;
        }
    }
    .search-list {
        position: absolute;
        top: 110%;
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 12px 2px rgba(70, 70, 70, 0.45);
        background-color: #fff;
        overflow-y: auto;
        max-height: 300px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        z-index: 100;

        .result-item {
            border-bottom: 1px solid rgb(183, 183, 183);
            padding: 10px 15px;
            cursor: pointer;

            &:last-child {
                border-bottom-width: 0;
            }
            &:hover{
                background-color: #e7e7e7;
            }
        }
    }
}