.header-text {
    font-size: 2.54rem;
    margin-bottom: 2.5rem;
    font-weight: 700;
}

.secondary-text {
    font-size: 1.85rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
}

.data-table,
.loading-table {
    height: calc(100% - 6.5rem);
    display: block;
}

.loading-table {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &::before,
    &::after {
        content: '';
        position: absolute;
        animation: load 2s infinite;
        background-color: #c4c4c4;
        border-radius: 0.5rem;
    }

    &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 5rem;
    }

    &::after {
        top: 6rem;
        left: 0;
        right: 0;
        height: calc(100% - 6rem);
    }
}

@keyframes load{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}