.sidenav {
    background-color: #292929;
    padding: 1rem 2.5rem;
    position: fixed;
    top: 6rem;
    left: 0;
    width: 25rem;
    height: 100vh;
}

.sidenav-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .sidenav-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: #101010;
        }

        &.active{
            background-color: #101010;
        }

        >* {
            color: #fff;
            fill: #fff;
        }
        .label-text{
            border-bottom-width: 0;
            outline: none;
        }
    }
}