<section class="sidenav" [class]="state !== null ? state : ''">
    <ul class="sidenav-list">
        @for(menu of menuList; track menu){
        <li class="sidenav-item">
            <a [routerLink]="menu.route" [routerLinkActive]="'active'" class="sidenav-link">
                <span class="icon-container">
                    <div [innerHTML]="menu.icon"></div>
                </span>
                <span class="label-text">{{menu.name}}</span>
            </a>
        </li>
        }
    </ul>
</section>