th {
  border-bottom: 1px solid #b8b8b8;
  background-color: #e7e7e7;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #b8b8b8;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
    position: relative;
    width: 100%;
    // border-right: 1px solid #b8b8b8;
  }

  .search-field {
    // padding: 0 1.25rem;
    input {
      padding: 0.5rem;
      width: calc(100% - 1rem);
      outline: unset;
      border-width: 0;
      font-size: 1.6rem;
    }
  }

  .title-text {
    position: relative;
    padding: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #b8b8b8;
    .icon-container {
      position: absolute;
      right: 1.25rem;
      top: 50%;
      transform: translateY(-50%);
      height: 1.4rem;
      width: 1.4rem;
      display: none;
      align-items: center;
      justify-content: center;
      svg {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &:hover {
      .icon-container {
        display: flex;
      }
    }
    &:focus-visible,
    &:focus {
      .icon-container {
        display: flex;
      }
    }
  }
}
